<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Hello <%= username %> - <small> Your Dashboard</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i> Dashboard
                    </li>
                </ol>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-shopping-cart fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"><%= applicationList.length %></div>
                                <div>My Applications</div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tasks fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <%  var count =0;
                                    if(applicationList.length==0) {
                                        count =0;
                                     }                                    
                                     else {
                                        for (var i = 0; i < applicationList.length; i++) {                                             
                                        %>
                                    <tr>
                                      <td><% if(applicationList[i].remind ==1) { %></td>
                                      <%                                            
                                                    count++;
                                                }
                                            }
                                         }
                                      %>
                                <div class="huge"><%= count %></div>
                                <div>My Reminders</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-pencil fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <%  var countStatus =0;
                                    if(applicationList.length==0) {
                                        countStatus =0;
                                     }                                    
                                     else {
                                        for (var i = 0; i < applicationList.length; i++) {                                             
                                        %>
                                    <tr>
                                      <td><% if(applicationList[i].status ==3) { %></td>
                                      <%                                            
                                                    countStatus++;
                                                }
                                            }
                                         }
                                      %>
                                <div class="huge"><%= countStatus %></div>
                                <div>In Progress Applications</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-support fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                
                                <div class="small"><%= accountCreation.getDate() %>-<%= accountCreation.getMonth()+1 %>-<%= accountCreation.getFullYear() %></div>
                                <div>Account Creation</div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Application Summary</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Company Name</th> 
                                        <th>Applied On</th>
                                        <th>Status</th>
                                        <th>Follow Up</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  
                                  <%
                                    for (var i = 0; i < applicationList.length; i++) { 
                                    %>
                                    <tr>
                                      <td><%= applicationList[i].company %></td>
                                      <%
                                        {
                                            var status = "Accepted";
                                            switch (applicationList[i].status) 
                                            {
                                                case "1":
                                                    status="Accepted";
                                                    break;
                                                case "2":
                                                    status="Reject";
                                                    break;
                                                case "3":
                                                    status="In Progress";
                                                    break;    
                                                default:
                                                    status="Default";
                                                    break;
                                            }
                                        }
                                      %>
                                      <td><%= applicationList[i].appliedOn %></td>
                                      <td><%= status %></td>
                                      <td><%= applicationList[i].followUpOn %></td>
                                    </tr>    
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->